.section {
  padding-top: 88px;
  margin-top: -88px;

  screen-md {
    padding-top: 112px;
    margin-top: -112px;
  }
}

.holder {
  @apply flex flex-col md:flex-row md:items-center mb-0 md:mb-24;

  .mapHolder {
    @apply mt-20;

    background-color: grey;
    width: 100%;
    height: 256px;
    overflow: hidden;

    @screen sm {
      height: 384px;
    }

    @screen md {
      @apply rounded-r-full flex-shrink-0 order-first mt-0;

      height: 512px;
      width: 800px;
      max-width: 50%;
    }

    @screen md {
      max-width: 55%;
    }

    .map {
      width: 100%;
      height: 100%;
    }
  }

  .contacts {
    @apply ml-auto mr-auto pl-4 pr-4 sm:pl-6 sm:pr-6;

    .contact {
      @apply flex text-2xl lg:text-3xl;

      line-height: 3rem;

      &.lineBreak {
        @apply mt-12;
      }

      .icon {
        @apply text-3xl lg:text-4xl mr-3 lg:mr-4;

        line-height: 3rem;
      }

      a {
        @apply block;
      }
    }
  }
}